.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
}

.circle {
  max-width: 440px;
  max-height: 440px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__inner {
    content: "";
    position: absolute;
    bottom: 191px;
    width: 56px;
    height: 176px;
    transform-origin: 50% calc(100% - 29px);
    background: url('../assets/img/dial.png') center/contain no-repeat;
    transition: 1s;
  }
}

.transform {
  transform: rotate(240deg);
}


//
//.circle {
//  max-width: 440px;
//  max-height: 440px;
//  margin: 0 auto;
//  position: relative;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  text-align: center;

//&__pointer {
//  position: absolute;
//  //top: 63px;
//  //left: 193px;
//  //padding-bottom: 115px;
//  display: flex;
//  align-items: center;
//  top: 160px;
//  left: 140px;
//}
//&__pointer img {
//  width: 100%;
//  height: 100%;
//}
//}


//.transform {
//  transform: rotate(120deg);
//}

.point {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
}

:root {
  --r: -50deg
}


//
//.speedometer {
//  width: 200px;
//  height: 109px;
//  display:inline-block;
//  background: url('https://i.ibb.co/LQCv5CR/taxometer.png') center/contain no-repeat;
//  position: relative;
//}
//
//.speedometer::before {
//  content:"";
//  position: absolute;
//  left: calc(50% - 12px);
//  bottom: -6px;
//  width: 24px;
//  height:78px;
//  transform-origin: 50% calc(100% - 12px);
//  background: url('https://i.ibb.co/JrthWtD/needle.png') center/contain no-repeat;
//  transform:rotate(var(--r,0deg));
//  transition:0.8s;
//}
//
//.speedometer:hover::before {
//  transform:rotate(0deg);
//}
//
//
//
//
//
//.circle {
//  width: 440px;
//  height: 440px;
//  display:inline-block;
//  background: url('../assets/img/meter.png') center/contain no-repeat;
//  position: relative;
//}
//


//.circle::before {
//  content:"";
//  position: absolute;
//  //left: calc(50% - 25px);
//  bottom: 190px;
//  width: 56px;
//  height: 176px;
//  transform-origin: 50% calc(100% - 30px);
//  background: url('../assets/img/dial.png') center/contain no-repeat;
//  transform:rotate(var(--r, -120deg));
//  transition: 1s;
//}
//.circle:hover::before {
//  transform:rotate(120deg);
//}







